<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://ec2-23-21-170-57.compute-1.amazonaws.com:5432/d8gd90pb6ar8lf?ssl=true&amp;sslfactory=org.postgresql.ssl.NonValidatingFactory</property>
    <property name="hibernate.connection.username">vtagopktthpmwg</property>
    <property name="hibernate.connection.password">_QqmlSuxTHysEcp9O4sH_DBjm3</property>
    <mapping resource="hibernatePackage/Employees.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
